.App
  width: 412px
  height: 415px
  background: linear-gradient(#202731 , #171E28)
  border-radius: 30px
  display: flex

.app__container
  width: 348px
  height: 351px
  margin: auto

.app__button
  width: 50px
  height: 50px
  border-radius: 50%
  background-color: #262F38
  color: #787f89
  text-align: center
  box-sizing: border-box
  padding: 15px
  font-weight: 700
  cursor: pointer
  transition: background-color 0.3s
  user-select: none
  &:hover
    background-color: #FC7613
  &:active
    background-color: #7C8898
    color: white

.active
  background-color: #7C8898
  color: white

.star-icon
  border-radius: 50%
  cursor: default
  user-select: none
  width: 48px
  height: 48px
  background: #262F38 url('../../images/icon-star.svg') no-repeat center

.app__title
  color: white
  font-size: 27.7px
  margin-top: 33px 

.app__paragraph
  margin: 9px 0 0 0
  font-size: 15px
  color: #787F89
  line-height: 24px
  
.app__buttons
  margin-top: 28px 
  display: flex
  flex-direction: rows
  gap: 22.5px

.app__submit
  color: white
  background-color: #FC7613
  border: none
  width: 98%
  margin-top: 32px
  height: 44px
  border-radius: 22px
  letter-spacing: 3px
  font-weight: 700
  cursor: pointer
  &:hover
    transition: background-color 0.3s
    color: #FC7613
    background-color: #FFFFFF

.reaction__image
  width: 98%
  height: 133px
  background: url('../../images/illustration-thank-you.svg') no-repeat center

.reaction__select
  background-color: #262F38
  margin: 20px auto
  height: 32px
  width: 55%
  border-radius: 16px
  color: hsl(25, 97%, 53%)
  box-sizing: border-box
  text-align: center
  padding-top: 7px
  font-size: 15px

.app__title-center
  text-align: center
  font-size: 29px

.app__paragraph-center
  width: 98%
  text-align: center

@media screen and (max-width: 450px)
  .App
    width: 328px
    height: 360px
    border-radius: 18px
  .app__container
    width: 280px
    height: 310px
  .star-icon
    width: 40px
    height: 40px
    background-size: 13px
  .app__title
    font-size: 23.8px
    margin-top: 18px
  .app__paragraph
    margin: 11px 0 0 0
    font-size: 14px
    color: #787F89
    line-height: 22.5px
  .app__buttons
    margin-top: 26px
    gap: 17px
    justify-content: space-between
  .app__button
    font-size: 14px
    width: 42px
    height: 42px
  .app__submit
    width: 100%
    margin-top: 24px
    letter-spacing: 2.4px
  .reaction__image
    background-size: 144px
    margin-top: -10px
    margin-left: 3px
  .reaction__select
    margin: 7px auto 0 auto 
    height: 30px
    width: 60%
    font-size: 14px
  .app__title-center
    margin-top: 28px
    font-size: 25px
  .app__paragraph-center
    margin: 9px 0 0 3px
